#sidebarMenu {
    background-color: #f2f2f2;

    a {
        font-size: 16px;
        font-weight: 600;
    }
    i {
        padding-right: 5px;
    }

    .logo {
        width: 100px;
        height: auto;
        margin-top: 30px;
        margin-left: 30px;
    }

    .logoutbtn {
        position: fixed;
        bottom: 30px;
        width: 226px;
        a {
            color: $red !important;
        }
    }

    .active {
        a {
            color: $black;
        }
    }
}

.dashboard-right-side {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;

    h2 {
        padding-top: 10px;
        color: $primary;
        font-weight: 300;
    }
    .cta {
        font-size: 14px;
    }

    .table th,
    .table td {
        vertical-align: baseline !important;
    }
}

.filter-views {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;

    a {
        margin-right: 10px !important;
    }
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $primary !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
    a {
        color: $primary !important;
        text-decoration: none;
        background-color: transparent;
    }

    .active {
        color: $white !important;
    }
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: $primary !important;
    border-color: $primary !important;
}

.bg-color {
    background-color: #f2f2f2;
}

.page-item {
    .active {
        color: $primary !important;
    }
}

.primary-green {
    color: $primary !important;

    a:hover {
        color: $black !important;
        text-decoration: none;
    }
}

.danger {
    a {
        color: $red !important;
    }
    a:hover {
        color: $black !important;
        text-decoration: none;
    }
}

.icon-text {
    display: flex;
    align-items: center;

    i {
        padding-right: 5px;
        text-decoration: none;
    }

    a {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
}

.actions {
    i {
        font-size: 18px;
        padding-right: 5px;
    }

    a:hover {
        color: $black !important;
        text-decoration: none;
    }
}

.full-vertical-align {
    height: 100vh;
    /* IMPORTANTE */
    display: flex;
    align-items: center;
}

.pagination {
    margin: 0 !important;
    padding-left: 15px !important;
}

.bg-color {
    background-color: honeydew;
    height: 100vh;
}

/* TRYING TO CHANGE INTERACTION CALENDAR COLOR */
#calendar {
    .btn-primary {
        color: #fff;
        background-color: #343a40 !important;
        border-color: #343a40 !important;
    }

    .fc-timeGridWeek-button {
        .btn-primary {
            .active {
                background-color: #000000 !important;
                border-color: #000000 !important;
            }
        }
    }
}

.dashboard-team {
    img {
        width: 80px;
        height: auto;
        border-radius: 50%;
        background-size: cover;
    }
}

.fixed-side {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.label-small {
    font-size: 14px !important;
    font-weight: 600 !important;
}
