/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: $font-default;
    color: $default;
}

a {
    color: $primary;
    text-decoration: none;
}

a:hover {
    color: $black;
    text-decoration: none;
}

header {
    padding: 10px 0;
}

.cta {
    border: none !important;
    background: $primary;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    color: #fff;
    transition: none;
    font-size: 16px;
    font-weight: 700;
    font-family: $font-primary;
    transition: 0.3s;
    &:hover {
        background: $black;
        color: #fff;
    }
    i {
        font-size: 20px;
        height: auto;
        padding-right: 10px;
    }
}

.cta-line {
    border: 1px solid $primary;
    display: inline-block;
    padding: 8px 30px;
    margin-bottom: 8px;
    border-radius: 20px;
    color: $primary;
    transition: none;
    font-size: 16px;
    font-weight: 700;
    font-family: $font-primary;
    transition: 0.3s;

    &:hover {
        background: $primary;
        color: $white;

        text-decoration: none !important;
    }
    i {
        font-size: 20px;
        height: auto;
        padding-right: 10px;
    }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 45px;
    z-index: 99999;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background: $primary;
        color: #fff;
        transition: all 0.4s;
        &:hover {
            background: darken($primary, 5);
            color: #fff;
        }
    }
}

.half {
    width: 50%;
}
.right {
    padding-right: 50px;
}
.left {
    padding-left: 50px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap !important;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: white !important;
    border-radius: 0 !important;
    i,
    li {
        font-size: 14px !important;
        color: $gray !important;
    }
    .breadcrumb-item {
        color: $gray;
    }
}

.logo {
    margin-bottom: 10px;
}

.quote {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    margin-left: 20px;
}

.quote-author {
    font-weight: bold;
    margin-left: 20px;
}

.bg-color {
    background-color: rgb(236, 236, 236, 0.5);
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.full-vertical-align {
    height: 100vh;
    /* IMPORTANTE */
    display: flex;
    align-items: center;
    display: fixed;
}
