/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    background-color: rgba(darken($secondary, 10), 0.8);
    overflow: hidden;
    padding: 0;
    margin-bottom: -120px;
    position: relative;
    z-index: 1;

    .carousel-item {
        width: 100%;
        height: 70vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .carousel-item::before {
        content: "";
        background-color: rgba($white, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: 120px;
    }

    .carousel-content {
        text-align: center;
    }

    h2 {
        color: darken($secondary, 15);
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 700;
        span {
            color: $primary;
        }
    }

    p {
        width: 80%;
        animation-delay: 0.4s;
        margin: 0 auto 30px auto;
        color: arken($secondary, 15);
    }

    .carousel-inner {
        .carousel-item {
            transition-property: opacity;
            background-position: center top;
        }

        .carousel-item,
        .active.carousel-item-left,
        .active.carousel-item-right {
            opacity: 0;
        }

        .active,
        .carousel-item-next.carousel-item-left,
        .carousel-item-prev.carousel-item-right {
            opacity: 1;
            transition: 0.5s;
        }

        .carousel-item-next,
        .carousel-item-prev,
        .active.carousel-item-left,
        .active.carousel-item-right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background: none;
        font-size: 48px;
        line-height: 1;
        width: auto;
        height: auto;
        color: $secondary;
    }

    .carousel-indicators li {
        cursor: pointer;
        background: $primary;
        overflow: hidden;
        border: 0;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        margin-bottom: 180px;
        opacity: 0.2;
        &.active {
            opacity: 1;
        }
    }

    .btn-get-started {
        font-family: $font-primary;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: #fff;
        animation-delay: 0.8s;
        border: 2px solid $primary;
        background: $primary;
        &:hover {
            background: transparent;
            color: $primary;
            text-decoration: none;
        }
    }

    @media (max-height: 768px), (max-width: 1200px) {
        margin-bottom: 60px;
        .carousel-container {
            padding-bottom: 0;
        }
        .carousel-indicators li {
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        height: 90vh;
        .carousel-item {
            height: 90vh;
        }
    }

    @media (min-width: 1024px) {
        p {
            width: 50%;
        }
        .carousel-control-prev,
        .carousel-control-next {
            width: 5%;
        }
    }
}
