p,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
p {
    font-size: 16px;
}
small {
    font-size: 14px;
}

.capital {
    text-transform: uppercase;
}

.light {
    font-weight: 300;
    letter-spacing: 1px;
}

.bold {
    font-weight: 600 !important;
}