// Fonts
$font-default: "Open Sans", sans-serif;
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Open Sans", sans-serif;

// Colors
$default: #444444;
$primary: #3c8760;
$secondary: #545454;

// General Colors
$red: #dc3545;
$blue: #13838c;
$yellow: #efca30;
$orange: #f98d2b;
$brown: #7b4f2c;
$purple: #6f42c1;
$pink: #e83e8c;
$white: #fff;
$gray: #bdbec0;
$black: #343a40;
$teal: #20c997;
$cyan: #17a2b8;
