// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "general";
@import "header";
@import "hero";
@import "sections";
@import "footer";
@import "moduls";
