<nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="home">Inici</a>
        </li>
        <li class="breadcrumb-item">
            Coneix-nos<i class="icon-angle-right gray"></i>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            Col·labora
        </li>
    </ol>
</nav>
<section id="collabora" class="collabora">
    <div class="container">
        <div id="accordion">
            <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Fes un donatiu
                </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Amb la teva aportació, pots ajudar a que seguim portant a
                    terme els nostres projectess per a millorar la qualitat de
                    vida de les persones amb Dany Cerebral i les seves famílies.
                    Encara que sigui  una aportació petita, té un gran valor i
                    repercussió per a tot el col·lectiu.
                    <br>
                    Pots realitzar el teu donatiu fent una transferència al compte
                    <b>ES04 0049 0498 7121 10707350</b>
                    (és important que posis el teu nom, cognoms i DNI, recorda que fer un donatiu et desgrava.)
                </div>
            </div>
            </div>
            <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Fes-te voluntari
                </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    El voluntariat té un paper important en el nostre projecte, és
                    un valor afegit imprescindible per a les nostres activitats i
                    un suport incomparable per als professionals que desenvolupen una activitat.
                    <br>
                    <br>
                    Què cal fer per ser voluntari/a de la nostra entitat’
                    <ul>
                        <li>Tenir més de 18 anys.</li>
                        <li>Tenir responsabilitat i compromís per al desenvolupament de l'activitat voluntària.</li>
                        <li>Disposar de temps suficient.</li>
                        <li>Tenir una actitud positiva, oberta i compromesa.</li>
                        <li>Tenir un coneixement bàsic sobre el dany cerebral o estar disposat a fer una formació básica amb nosaltres.</li>
                    </ul>
                    Si vols fer-te voluntari/a de la nostra entitat envia'ns el teu currículum a
                    <a href="mailto:yolanda@tracecatalunya.org">yolanda@tracecatalunya.org</a> o truca al <a href="tel:+349332503636">933 250 3636</a>.
                    <br>
                    <br>
                    Nosaltres et donarem d’alta com a voluntari, et formarem i, a més,
                    et farem una assegurança per a voluntaris.

                </div>
            </div>
            </div>
            <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Treballa amb nosaltres
                </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    A TraCE som un  equip multidisciplinar que treballa per a oferir
                    serveis a les persones amb Dany Cerebral i a les seves famílies.
                    Si ets una persona implicada, amb ganes, que comparteixes els
                    nostres valors i et ve de gust implicar-te en el nostre projecte.
                    Envia'ns el teu CV a <a href="mailto:info@tracecatalunya.org">info@tracecatalunya.org</a>.
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
