<nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="home">Inici</a>
        </li>
        <li class="breadcrumb-item">
            Col·laboradors<i class="icon-angle-right gray"></i>
        </li>
    </ol>
</nav>

<section id="collaborators" class="collaborators">
    <div class="container">
        <div class="row content d-flex align-items-center">
            <div class="col-lg-6 pt-4 pt-lg-0 content right">
                <h3>
                    Col·laboradors
                </h3>
                <br />
                <p>
                    TraCE, col·labora amb diferents Entitats i Administracions.
                    Aquests són alguns dels nostres projectes avalats.
                </p>
            </div>
        </div>
    </div>
    <br />

    <div class="container">
        <p><b>2016</b></p>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <div class="box-cta">
                        <img
                            src="img/collaborators/logo_ayuntamiento_barcelona.jpg"
                            alt="Logotipo del Ayuntamiento de Barcelona"
                            height="100px"
                            width="200px"
                            class="logo"
                        />
                    </div>
                    <p>
                        <b>Passejades per Barcelona</b><br />
                        Activitat setmanal de descoberta de racons emblemàtics
                        de Barcelona, història, cultura, art.
                    </p>
                    <p>
                        <b>Artteràpia l’art de rehabilitar</b><br />
                        A través de les arts plàstiques, ens endinsem als canals
                        per poder expressar les nostres emocions.
                    </p>
                </div>
                <div>
                    <div class="box-cta">
                        <img
                            src="img/collaborators/logo_generalitat_salut.jpg"
                            alt="Logotipo de la Generalitat de Cataluna, del departamento de Treball, Afers Socials y Famìlies"
                            height="100px"
                            width="200px"
                            class="logo"
                        />
                    </div>
                    <p>
                        <b
                            >Espai TraCE d’activitats per a la millora
                            d’autonomia de les persones amb dany cerebral</b
                        ><br />
                        Serveis diaris per a la millora de seqüeles i de
                        qualitat de vida de persones amb DCA, amb la
                        col·laboració del Departament de Treball, Afers Socials
                        i Famílies.
                    </p>
                </div>
            </div>

            <div class="col">
                <div>
                    <div class="box-cta">
                        <img
                            src="img/collaborators/logo_diputacio_barcelona.jpg"
                            alt="Logotipo de la Diputació de Bercelona"
                            height="100px"
                            width="200px"
                            class="logo"
                        />
                    </div>
                    <p>
                        <b>Vacances al Cor d’Europa</b><br />
                        Viatges de descoberta de racons emblemàtics de Europa,
                        història, cultura, art.
                    </p>
                    <p>
                        <b
                            >Club de Lectura fàcil per a persones amb dany
                            cerebral</b
                        ><br />
                        Amb la col·laboració de la Biblioteca Joan Miró de la
                        Xarxa de Biblioteques de la Diputació de Barcelona.
                    </p>
                </div>
                <div>
                    <div class="box-cta">
                        <img
                            src="img/collaborators/logo_generalitat_treball.jpg"
                            alt="Logotipo de la Generalitat de Cataluna, del departamento de Salut"
                            height="100px"
                            width="200px"
                            class="logo"
                        />
                    </div>
                    <p>
                        <b
                            >Foment d’activitats saludables per a persones
                            afectades de DCA</b
                        ><br />
                        Neurologopèdia i piscina terapèutica, amb la
                        col·laboració del Departament de Salut de la Generalitat
                        de Catalunya
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <p><b>2017</b></p>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <div class="box-cta">
                        <img
                            src="img/collaborators/logo_calabria66.jpg"
                            alt="Logotipo de Calabria 66"
                            height="100px"
                            width="170px"
                            class="logo"
                        />
                    </div>
                    <p>
                        <b>Calàbria</b><br />
                        A banda de donar continuïtat als projectes anteriors,
                        encetem col·laboració amb Calàbria 66, un projecte
                        veïnal amb el qual a més de poder participar en les
                        seves iniciatives, també ens ofereix espais per poder
                        dur a terme el projecte Puja a l’escenari, teatre social
                        i terapèutic
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <p><b>2020</b></p>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <div class="box-cta">
                        <img
                            src="img/collaborators/logo_factoria_naranja.jpg"
                            alt="Logotipo de Factoría F5"
                            height="100px"
                            width="170px"
                            class="logo"
                            class="logo"
                        />
                    </div>
                    <p>
                        <b>Factoría F5</b><br />
                        Texto acá
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
