<section id="clients" class="clients">
    <div class="flex-container">
        <div class="section-title">
            <h2>Col·laboradors</h2>
            <p>
                TraCE, col·labora amb diferents Entitats i Administracions.
            </p>
        </div>

        <div class="flex-container">
            <!-- owl-carousel clients-carousel -->
            <img
                src="img/collaborators/logo_ayuntamiento_barcelona.jpg"
                alt="Logotipo del Ayuntamiento de Barcelona"
            />
            <img
                src="img/collaborators/logo_diputacio_barcelona.jpg"
                alt="Logotipo de la Diputació de Bercelona"
            />
            <img
                src="img/collaborators/logo_generalitat_salut.jpg"
                alt="Logotipo de la Generalitat de Cataluna, del departamento de Treball, Afers Socials y Famìlies"
            />
            <img
                src="img/collaborators/logo_generalitat_treball.jpg"
                alt="Logotipo de la Generalitat de Cataluna, del departamento de Salut"
            />
            <img src="img/collaborators/logo_calabria66.jpg" alt="" />

            <img src="img/collaborators/logo_factoria_naranja.jpg" alt="" />
        </div>

        <a href="collaboradors">Veure més informació</a>
    </div>
</section>
