<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">
        <div class="section-title">
            <h2>Que es el dany cerebral</h2>
            <p>
                El dany cerebral sobrevingut és una lesió que afecta al cervell
                de manera sobrevinguda. <br />El seu orígen no és congènit ni
                hereditari, ni degeneratiu.
            </p>
            <a href="">veure més informació</a>
        </div>
    </div>
</section>
<!-- End Description Section -->
