<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="mr-auto">
                        <h1 class="text-light">
                            <a href="">TraCE</a>
                        </h1>
                        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
                    </div>
                </div>

                <div
                    class="col-lg-6 col-md-12 d-flex align-items-center justify-content-end footer-info"
                >
                    <div class="social-links d-flex align-items-center">
                        <p>Segueix-nos:</p>
                        <a
                            href="https://www.facebook.com/danycerebraltrace"
                            target="_blank"
                            ><i class="icofont-facebook"></i
                        ></a>
                        <a
                            href="https://twitter.com/tracecatalunya?lang=es"
                            target="_blank"
                            class=""
                        >
                            <i class="icofont-twitter"></i
                        ></a>
                        <a
                            href="https://www.instagram.com/associaciotrace/"
                            target="_blank"
                            class=""
                            ><i class="icofont-instagram"></i
                        ></a>
                        <a
                            href="https://www.youtube.com/channel/UCEXJ-1eKKkl8gqsqOBxy5dg"
                            target="_blank"
                            class=""
                            ><i class="icofont-youtube"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        &copy;2020 Associació Catalana de Traumàtics Cranioencefàlics i Dany
        Cerebral. All Rights Reserved.
    </div>
</footer>
<!-- End Footer -->
