<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 footer-links">
                    <div class="logo mr-auto">
                        <h1 class="text-light">
                            <a href=""><span>traCE</span></a>
                        </h1>
                        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
                    </div>
                </div>

                <div
                    class="col-lg-6 col-md-12 d-flex align-items-center justify-content-end footer-info"
                >
                    <div class="social-links d-flex align-items-center">
                        <p>Segueix-nos:</p>
                        <a href="#" class="twitter"
                            ><i class="bx bxl-twitter"></i
                        ></a>
                        <a href="#" class="facebook"
                            ><i class="bx bxl-facebook"></i
                        ></a>
                        <a href="#" class="instagram"
                            ><i class="bx bxl-instagram"></i
                        ></a>
                        <a href="#" class=""><i class="bx bxl-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy;2020 Associació Catalana de Traumàtics Cranioencefàlics i Dany
            Cerebral. All Rights Reserved.
        </div>
    </div>
</footer>
<!-- End Footer -->
