<footer id="footer">
    <div class="footer-top">
        <div class="">
            <h1 class="text-light">
                <a href="">TraCE</a>
            </h1>
        </div>
        <div class="footer-info">
            <div class="social-links d-flex align-items-center">
                <a
                    href="https://www.facebook.com/danycerebraltrace"
                    target="_blank"
                    ><i class="icofont-facebook"></i
                ></a>
                <a
                    href="https://twitter.com/tracecatalunya?lang=es"
                    target="_blank"
                    class=""
                >
                    <i class="icofont-twitter"></i
                ></a>
                <a
                    href="https://www.instagram.com/associaciotrace/"
                    target="_blank"
                    class=""
                    ><i class="icofont-instagram"></i
                ></a>
                <a
                    href="https://www.youtube.com/channel/UCEXJ-1eKKkl8gqsqOBxy5dg"
                    target="_blank"
                    class=""
                    ><i class="icofont-youtube"></i
                ></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div>
            &copy;2020 Associació Catalana de Traumàtics Cranioencefàlics i Dany
            Cerebral. All Rights Reserved.
        </div>
        <div>
            Desarrollado por
            <a href="http://www.factoriaf5.org/" target="_blank">Factoría F5</a>
            🧡
        </div>
    </div>
</footer>
