<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    &#x1F36A; Aquesta web utilitza cookies pròpies i de tercers per optimitzar i adaptar-se a la vostra navegació i
    les vostres preferències, entre altres tasques. Si continueu navegant, entendrem que accepteu les nostres <a
        href="{{'/legal'}}" target="_blank" style="color:yellow;">polítiques i cookies</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Acceptar
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->

<div id="topbar" class="d-none d-lg-block">
    <div class="flex-container d-flex align-items-center justify-content-between">

        <div class="contact-info d-flex align-items-center justify-content-between">
            <a href="tel:+349332503636"><i class="icofont-phone"></i>933 250 3636</a>
            <a href="mailto:info@tracecatalunya.org"><i class="icofont-envelope"></i>info@tracecatalunya.org</a>
            <div class="social-links">
                <a href="https://www.facebook.com/danycerebraltrace" target="_blank" class=""><i
                        class="icofont-facebook"></i></a>
                <a href="https://twitter.com/tracecatalunya?lang=es" target="_blank" class=""><i
                        class="icofont-twitter"></i></a>
                <a href="https://www.instagram.com/associaciotrace/" target="_blank" class=""><i
                        class="icofont-instagram"></i></a>
                <a class="social-links" href="https://www.youtube.com/channel/UCEXJ-1eKKkl8gqsqOBxy5dg"
                    target="_blank" class=""><i class="icofont-youtube"></i></a>
            </div>
        </div>

        <div class="user">
            <a href="{{Route('login')}}" target="_blank" class="cta">
                <i class="icofont-user-alt-3"></i></i>
                Àrea usuari
            </a>
        </div>
    </div>
</div>

<div id="header-sticky-wrapper">
    <div id="header">

        <div class="flex-container d-flex justify-content-between align-items-center">

            <div class="mr auto">
                <a href="{{url('/')}}">
                    <img src="img/Logo_transparente_sin_texto.png" alt="logotipo de traCE" class="logo img-fluid"
                        style="width:90px; heigh:auto"></a>
            </div>

            <div>
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="{{ request()->is('/') ? 'active' : ''}}"><a href="{{url('/home')}}">Inici</a>
                        </li>
                        <li class="{{ request()->is('dany_cerebral') ? 'active' : ''}}"><a
                                href="{{url('/dany_cerebral/')}}">Dany Cerebral</a></li>
                        <li
                            class="drop-down {{ request()->is('qui_som','filosofia','equip','transparencia') ? 'active' : ''}}">
                            <a href="#">Coneix-nos</a>
                            <ul>
                                <li><a href="{{url('/qui_som/')}}">Qui som i què fem</a></li>
                                <li><a href="{{url('/filosofia/')}}">Filosofia</a></li>
                                <li><a href="{{url('/equip/')}}">Equip</a></li>
                                <li><a href="{{url('/transparencia/')}}">Transparència</a></li>
                            </ul>
                        </li>
                        <li class="{{ request()->is('collaboradors') ? 'active' : ''}}"><a
                                href="{{url('/collaboradors/')}}">Col·laboradors</a></li>
                        <li class="{{ request()->is('recursos') ? 'active' : ''}}"><a
                                href="{{url('/recursos/')}}">Recursos</a></li>
                        <li class="{{ request()->is('contacte') ? 'active' : ''}}"><a
                                href="{{url('/contacte/')}}">Contacte</a></li>
                    </ul>
                </nav>
            </div>

            <div id="collabora">
                <a href="{{url('/collabora/')}}" class="cta-line">Col·labora</a>
            </div>

        </div>

    </div>
</div>