<section id="resources" class="resources">
    <div class="container">
        <div class="bootcard">
            <div class="bootcard-header">
                <h2 style="text-align:center;padding-top: 2rem;">Aviso legal, política de privacidad y uso de cookies</h2>
            </div>
            <div class="bootcard-body">
                <br>
                <p>La<strong> ASSOCIACIÓ CATALANA DE TRAUMÀTICS CRANIOENCEFÀLICS I DANY CEREBRAL – TraCE</strong> es la
                    titular de este portal.<br>
                    Nuestros datos identificativos son:<br>
                </p>
                <p style="padding-left:2rem;">G58904574<br>
                Domicilio: c/ Lança 42, 08015, Barcelona.<br>
                Tel. +34 933 250 636<br>
                Mail: info@tracecatalunya.org<br>
                Delegada de Protección de Datos: dpd@tracecatalunya o yolanda@tracecatalunya.org
                </p>
                <h4>Propiedad intelectual e industrial</h4>
                <p>
                    Todos los derechos de propiedad intelectual del portal https://tracecatalunya.org, esto es, el
                    diseño del portal, los códigos fuente, los logos, las marcas, la estructura de navegación, las bases
                    de datos y todo signo distintivo que aparece en el sitio web son titularidad de TraCE y están
                    protegido por los correspondientes derechos de propiedad intelectual e industrial. Por tanto TraCE,
                    como titular, tiene el ejercicio exclusivo de los derechos de explotación en cualquier forma y en
                    especial, los derechos de reproducción, distribución, comunicación pública y transformación.
                    En este aviso no se hace ninguna cesión de derechos a favor del usuario en relación a ninguno de los
                    elementos integrantes del portal o los contenidos.
                </p>
                <h4>Responsabilidad de los contenidos</h4>
                <p>
                    TraCE tiene reservado el derecho para realizar cambios en el sitio web con la finalidad de mantener
                    actualizada su información, añadiendo, modificando, subsanando errores o eliminando los contenidos
                    publicados o el diseño de su página web.
                    TraCE no puede garantizar la inexistencia de interrupciones o errores en el acceso a la Web o a su
                    contenido, ni que éste sea actualizado. Sin embargo, llevará a cabo todas las acciones necesarias
                    para actualizar los contenidos, resolver los errores y restablecer la comunicación, tan pronto tenga
                    noticia de la anomalía ocurrida, siempre que no concurran causas que lo hagan imposible o de difícil
                    ejecución. Tampoco puede hacerse responsable de los errores de seguridad que puedan producirse ni de
                    los daños que puedan causarse al sistema informático del usuario o a los ficheros o documentos
                    almacenados en éste, como consecuencia de: a) la presencia de un virus en el ordenador del usuario
                    que sea utilizado para la conexión a los servicios y contenidos del web; b) un mal funcionamiento
                    del navegador y c) el uso de versiones no actualizadas de éste.
                    TraCE no se hace responsable de la legalidad de otros sitios web de terceros desde los que pueda
                    accederse a su página web. Tampoco puede responder por la legalidad de otros sitios web de terceros
                    que pudieran estar vinculados o enlazados desde este portal, siempre que sean ajenos al mismo.
                    TraCE no puede ser responsable del uso que terceros hagan de la información que publique en su
                    página web, tampoco de los daños o perjuicios económicos, materiales o sobre datos que, de manera
                    directa o indirecta, lleguen a producirse por el uso de dicha información.
                    Para el supuesto de que algún usuario considere que la información o contenidos en este portal o en
                    las páginas eventualmente enlazadas al mismo fueran ilícitos o dañasen bienes o derechos del propio
                    usuario o de un tercero, debería hacerlo del conocimiento de TraCE al correo electrónico de
                    contacto.
                </p>
                <h4>Reproducción de contenidos</h4>
                <p>
                    Queda prohibida la reproducción total o parcial de los contenidos publicados en esta página web.
                    El usuario se compromete a utilizar este sitio web, su información y contenidos conforme a lo
                    establecido en el presente aviso legal, bajo los criterios de la buena fe y, en todo caso,
                    respetando los principios de uso generalmente aceptados sin contravenir el orden público y la
                    legislación vigente.
                    En consecuencia, el usuario se abstendrá de utilizar cualquiera de los contenidos con fines o
                    efectos ilícitos, prohibidos en este aviso legal, nocivos de los derechos e intereses de terceros o
                    que de cualquier forma pudieran dañar, inutilizar, sobrecargar, deteriorar o impedir el uso normal
                    de los servicios contenidos en la página web.
                    Tanto el acceso al portal como el uso no consentido que pueda efectuarse del mismo es de la
                    exclusiva responsabilidad del usuario que realice tal conducta. TraCE no responderá de ninguna
                    consecuencia, daño o perjuicio que pueda derivarse de este acceso o uso no consentido.
                </p>
                <h4>Legislación aplicable</h4>
                <p>
                    En caso de disputa o conflicto de interpretación sobre los términos que conforman este aviso legal,
                    así como cualquier cuestión relacionada con los servicios de este sitio web, se estará a lo
                    dispuesto por la legislación española en la materia.
                </p>

                <h3 style="text-align:center;">POLÍTICA DE PRIVACIDAD Y USO DE COOKIES</h3>
                <p>
                    A través de este sitio web no se recaban datos de carácter personal sin el consentimiento de los
                    usuarios y los datos identificativos que el usuario voluntariamente proporciona no son cedidos a
                    terceros.

                    TraCE no utiliza cookies para recoger información de los usuarios y tampoco registra las direcciones
                    IP de acceso. Se utilizan cookies propias de sesión, con una finalidad técnica: permitir al usuario
                    la navegación en el sitio web. Recuerde que, en general, al navegar por internet, el usuario puede
                    aceptar o rechazar las cookies de terceros desde las opciones de configuración de su navegador.
                    Tenga en cuenta que las cookies no pueden dañar su ordenador y que el hecho de que estén activas
                    puede ayudar a identificar y a resolver los errores.

                    <strong>Social Media Plugins</strong>
                    <br>
                    TraCE usa en su portal Social Media Plug-ins («plugins») de la redes sociales Facebook y Twitter.
                </p>
                <h3 style="text-align:center;">TRATAMIENTO DE DATOS PERSONALES</h3>
                <h4>Reproducción de contenidos</h4>
                <p>
                    Los datos de carácter personal que el usuario proporciona a TraCE cuando dirige una consulta son tratados de manera confidencial, se incorporan a un tratamiento identificado como «Contactos web», del cual es Responsable TraCE, con la finalidad de llevar un registro de las consultas recibidas a través nuestro sitio web y gestionar las respuestas. Este tratamiento se legitima por el consentimiento del interesado. Los datos que integran este tratamiento no se comunican a terceros y se conservan por el tiempo necesario para cumplir la finalidad señalada y como máximo por un plazo de 2 años, transcurrido el cual, procedemos a su borrado a menos que antes el usuario ejerza su derecho de supresión que, como el resto de derechos –acceso, rectificación, portabilidad, limitación y oposición—podría hacer ante TraCE dirigiendo un correo electrónico a dpd@tracecatalunya o yolanda@tracecatalunya.org
                </p>
            </div>
        </div>
    </div>
</section>
