<nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="home">Inici</a>
        </li>
        <li class="breadcrumb-item">
            Coneix-nos<i class="icon-angle-right gray"></i>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            Filosofia
        </li>
    </ol>
</nav>

<section id="philosophy" class="philosophy">
    <div class="container">
        <div class="row content d-flex">
            <div class="col-lg-6 pt-4 pt-lg-0 content right">
                <h3>
                    Filosofia
                </h3>
                <p>
                    Estar correctament informats, acompanyats emocionalment
                    des del primer moment, conèixer el recursos, respectar i
                    entendre l’opinió de la persona amb dany cerebral i la de
                    la familia, són els principis bàsics de la nostra Entitat.
                </p>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="box-cta">
                    <p class="quote">
                        “L’adversitat té el do de<br>
                        despertar talents que en la<br>
                        prosperitat haguessin<br>
                        continuat adormits”
                    </p>
                    <p class="quote-author">
                        Horaci
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 content right">
                <p class="quote">
                    “Algunes persones miren<br>
                    al món i diuen Per què?<br>
                    I altres miren al món i diuen,<br>
                    Per què no?”
                </p>
                <p class="quote-author">
                    G. Bernard Shaw
                </p>
            </div>
            <div class="col-lg-6">
                <div class="box-cta">
                    <p><b>Estrategia</b></p>
                    <p>
                        Apostem per les teràpies adaptades a l’entorn, per
                        la seva utilitat, creiem en la importància d’equilibrar
                        les rehabilitacions individuals amb les activitats socials grupals.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
