<section id="about" class="about">
    <div id="que-fem" class="container">
        <div class="row content d-flex align-items-center pt-5">
            <div class="col-lg-6">
                <img
                    src="img/coneix-nos/que_fem.jpg"
                    class="img-fluid"
                    alt=""
                />
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0 content left">
                <h3>
                    Què fem?
                </h3>

                <p>
                    T’assessorem i t’informem de forma gratuïta, qualsevol
                    persona que passi per aquesta situació té el dret d’estar
                    correctament informat.També t’oferim activitats grupals
                    diàries, normalitzades, útils i amb uns objectius
                    terapèutics definits pels nostres professionals.
                </p>
                <p>
                    Però si ho prefereixes, també tens la possibilitat de
                    realitzar neuroteràpies individualitzades: neuropsicologia,
                    neurologopèdia i fisioteràpia neurològica. O senzillament,
                    si només vols participar en grups de teràpia o ajuda mútua
                    també tens el teu espai. Tu demana… nosaltres t’oferim.
                </p>
                <div class="box-cta">
                    <a href="" class="cta-line"
                        ><i class="icofont-download"></i>Catàleg 2019-2020</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="services">
    <div class="container-fluid">
        <div class="d-flex justify-content-around flex-wrap">
            <div class="box">
                <div class="icon-box">
                    <div class="icon">
                        <i class="icofont-users-alt-5"></i>
                    </div>
                    <h4 class="capital light">
                        Activitats de l'Espai TraCE
                    </h4>
                    <p>
                        Activitats diàries grupals de dilluns a divendres. Grups
                        d’afàsia i disàrtria, a més de Grup de Funcions
                        executives i GAM grup dels dijous.
                    </p>
                </div>
            </div>

            <div class="box">
                <div class="icon-box">
                    <div class="icon">
                        <i class="icofont-user-alt-3"></i>
                    </div>
                    <h4 class="capital">
                        Neuroteràpies individualitzades
                    </h4>
                    <p>
                        Teràpies individualitzades especialitzades en Dany
                        Cerebral: Neurofisioteràpia Neuropsicologia,
                        Neurologopedia i Teràpia ocupacional.
                    </p>
                </div>
            </div>

            <div class="box">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heart"></i></div>
                    <h4 class="capital">Servei a les families</h4>
                    <p>
                        Assessorament, recolzament familiar individualitzat i
                        grupal. Grup Psicoeducatiu per a famílies i seminaris
                        informatius.
                    </p>
                </div>
            </div>

            <div class="box">
                <div class="icon-box">
                    <div class="icon">
                        <i class="icofont-spinner-alt-1"></i>
                    </div>
                    <h4 class="capital">Projectes Comunitaris</h4>
                    <p>
                        Projectes d’Utilitat Pública per a millorar la nostra
                        societat. Aportem la nostra experiència per a una
                        societa més justa, solidària i sostenible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
