<nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="home">Inici</a>
        </li>
        <li class="breadcrumb-item">
            Coneix-nos<i class="icon-angle-right gray"></i>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            Qui som i què fem
        </li>
    </ol>
</nav>

<section id="about" class="about">
    <div id="qui-som"class="container">
        <div class="row content">
            <div class="col-lg-6">
                <h3>
                    Qui som
                </h3>

                <p>
                    Som una entitat declarada d’Utilitat Pública i formada per
                    un grup de persones que des del 1988, treballem pel
                    col·lectiu del Dany Cerebral Sobrevingut. Defensem els
                    drets, l’autonomia i la millora de qualitat de vida de les
                    persones afectades d’un dany cerebral i les seves families.
                    Formem part de diferents organitzacions FEDACE (Federació
                    Espanyola de Dany Cerebral) BIF:EC (Brain Injury Families.
                    European Community) de la que FEDACE en forma part.
                </p>
            </div>
            <div class="col-lg-6">
                <img
                    src="img/coneix-nos/qui_som.jpg"
                    class="img-fluid"
                    alt=""
                />
            </div>
        </div>
    </div>
</section>
