<section id="resources" class="resources">
    <div class="container y-6">
        <div class="row content d-flex pt-5">
            <div class="col-lg-6 content right">
                <h3>
                    Recursos
                </h3>
                <p>
                    Gestionar una situació amb tants factors com és la
                    del Dany Cerebral,  requereix conèixer recursos i
                    eines que ens facilitin resoldre les dificultats del
                    dia a dia. Aquí en pots trobar alguns d’ells, tot i
                    així et recomanem que contactis amb nosaltres
                    analitzem les necessitats particulars de cada persona.
                </p>

                <ul class="list-group">
                    <a href="/public/files/agenda_de_recursos_trace_2010.pdf" download
                        ><i class="icofont-download"></i>Agenda de recursos
                        TraCE</a
                    >
                    <a href="https://fedace.org/" target="_blank"
                        ><i class="icofont-link"></i>Federación Española de Daño
                        Cerebral</a
                    >
                    <a
                        href="http://sac.gencat.cat/sacgencat/AppJava/organisme_fitxa.jsp?codi=5997"
                        target="_blank"
                        ><i class="icofont-link"></i>Sírius.Centre per
                        l’autonomia personal</a
                    >
                    <a
                        href="https://ceadac.imserso.es/ceadac_01/index.htm"
                        target="_blank"
                        ><i class="icofont-link"></i>Centro Estatal de Atención
                        al Daño Cerebral</a
                    >
                    <a
                        href="https://www.imserso.es/imserso_01/index.htm"
                        target="_blank"
                        ><i class="icofont-link"></i>IMSERSO</a
                    >
                    <a
                        href="https://www.observatoriodeladiscapacidad.info/"
                        target="_blank"
                        ><i class="icofont-link"></i>Observatorio Estatal de la
                        Discapacidad</a
                    >
                    <a href="https://www.centac.es/" target="_blank"
                        ><i class="icofont-link"></i>Centro Nacional de
                        Tecnologías de la Accesibilidad</a
                    >
                    <a
                        href="https://ceapat.imserso.es/ceapat_01/index.htm"
                        target="_blank"
                        ><i class="icofont-link"></i>Centro de Referencia
                        Estatal de Autonomía Personal y Ayudas Técnicas</a
                    >
                    <a href="http://sexualidadydiscapacidad.es/" target="_blank"
                        ><i class="icofont-link"></i>Asociación Sexualidad y
                        Discapacidad</a
                    >
                    <a href="https://www.sen.es/" target="_blank"
                        ><i class="icofont-link"></i>SEN: Sociedad Española de
                        Neurología</a
                    >
                </ul>
            </div>

            <div class="col-lg-6">
                <img
                    src="img/coneix-nos/que_fem.jpg"
                    class="img-fluid"
                    alt=""
                />
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</section>
