<section id="resources" class="resources">
    <div class="container">
        <div class="section-title">
            <h2>Recursos</h2>
            <p>
                Et facilitem, informació de centres i recursos sobre Dany Cerebral
                que et poden ser molt útils per a gestionar la situació a la que
                t’afrontes. Una realitat amb moltes variables requereix una
                resposta global. T’ajudem a trobar-la.
            </p>
            <a href="recursos">veure més informació</a>
        </div>
    </div>
</section>
