<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container-fluid">
        <div class="section-title" data-aos="fade-up">
            <h2>Que fem?</h2>
        </div>

        <div class="flex-container">
            <div class="box">
                <div class="icon-box">
                    <div class="icon">
                        <i class="icofont-users-alt-5"></i>
                    </div>
                    <h4 class="capital light">
                        Activitats de l'Espai TraCE
                    </h4>
                    <p>
                        Activitats diàries grupals, cada dia de dilluns a
                        divendres. Horari de matí o tarda.
                    </p>
                </div>
            </div>

            <div class="box">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-user-alt-3"></i></div>
                    <h4 class="capital">
                        Neuroteràpies individualitzades
                    </h4>
                    <p>
                        Rehabilitació individualitzada; Fisioteràpia
                        neurològica, Neuropsicologia i Neurologopèdia.
                    </p>
                </div>
            </div>

            <div class="box">
                <div class="icon-box">
                    <div class="icon">
                        <i class="icofont-spinner-alt-1"></i>
                    </div>
                    <h4 class="capital">Projectes Comunitaris</h4>
                    <p>
                        Tenen com a finalitat millorar el benestar de les
                        persones i fomentar una societat igualitària, sostenible
                        i justa per a tothom.
                    </p>
                </div>
            </div>

            <div class="box">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heart"></i></div>
                    <h4 class="capital">Servei a les families</h4>
                    <p>
                        Grups terapèutics: grup de Funcions Executives, grup de
                        Disàrtria i d'Afàsia, a més de grup de Teràpia per a
                        Familiars.
                    </p>
                </div>
            </div>
        </div>

        <div class="section-title">
            <a href="qui_som">veure més informació</a>
        </div>
    </div>
</section>
<!-- End Services Section -->
