<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container-fluid">
        <div class="section-title" data-aos="fade-up">
            <h2>Nostre equip</h2>
        </div>

        <div class="flex-container ">
            <div class="member">
                <img
                    src="img/team/lourdes_andreu.png"
                    alt="Foto de Lourdes Andreu"
                />
                <h4>Lourdes Andreu</h4>
                <span>Coordinadora</span>
            </div>

            <div class="member">
                <img
                    src="img/team/laia_sariñena.png"
                    alt=""
                />
                <h4>Laia Sariñena</h4>
                <span>Neuropsicòloga</span>
            </div>

            <div class="member">
                <img
                    src="img/team/anna_villanueva.png"
                    alt=""
                />
                <h4>Anna Villanueva</h4>
                <span>Neurologopeda</span>
            </div>

            <div class="member">
                <img
                    src="img/team/pepe_pujol.png"
                    alt=""
                />
                <h4>Pepe Pujol</h4>
                <span>Responsable financer</span>
            </div>
        </div>

        <div class="section-title">
            <a href="">veure més informació</a>
        </div>
    </div>
</section>
<!-- End Team Section -->
